*{
    margin:0;
    padding:0;
    
}
body{
    /* border:1px solid black; */
    /* margin:0 auto; */
    background-color: #ebf2f2;
   
}
.container{
    margin:0;
    padding:0;
    width:100%;
    height:84px;
    /* border: 1px solid black; */
    position:relative;
    top:60px;
    background-color:#1F2B6C;

}
li{
    margin:0;
    padding:0;
    list-style: none;
    display: inline;
    width:84px; height:84px;
    font-size: 20px; 
    margin: 0 auto;
   }
.hospitallogo{
    position: relative;
    left:105px;
}
.NSWlogo{
    position: relative;
    left:100px;
}
.addicon{
    position: relative;
    left:1110px;
    bottom:20px;
}
.notificationicon{
    width:40px;
    height:40px;
    position: relative;
    display:inline-block;
    left:1105px;
    bottom:20px;
    z-index:999;
    /* border:1px solid black; */
}
.notification{
    display:none;
    border: 1px solid black;
    background-color:black;
    width:200px;
    height:200px;
    position: absolute;
    left:1350px;
    top:80px;
    z-index: 999;
    
    
}
.notificationimg:hover .notification{
    display:block;
}
.searchicon{
    position: absolute;
    left:1443px;
    top:24px;
}
.search{
   
    
}
#searchbox{
    /* color:white; */
    /* background-color:#6077f4; */
    width:180px;
    height: 35px; 
    position: absolute;
    top: 23px;
    left:1485px;
    border-radius: 20px;
    /* background-color:white; */
    text-align: center;
    /* margin:0 auto; */
    font-size:14px;
    font-weight: bold;
    
}
a{
        color:white;
        text-decoration: none;
        font-size: 14px;
        
       }
    .sidebar{
        /* display:inline-block;
        position: absolute; */
        /* left:1500px; */
        
        width:80px;
        height:45px;
        position: absolute;
        left:1700px;
        top:23px;
    }
    .sidebar ul li{
        margin:0;
        padding:0;
        display:block;
    }
    .settingicon{
        position: relative;
        bottom:64px;
    }
    .main{
        /* border:1px solid black; */
        position: absolute;
        top:142px;
    }
    .photobox{
        background-color: #4787B9;
        width:450px;
        height:350px;
        border-radius:30px;
        position: relative;
        left:200px;
        top:50px;
    }
    #photo{
        width:220px;
        height:260px;
        position: relative;
        left:120px;

    }
    .photobox span{
        font-size:12px;
        /* border:1px solid black; */
        color:white;
        position: relative;
        right:40px;
        top:30px;
        
    }
    .searchbox{
        /* border: 1px solid black; */
        position: relative;
        left:800px;
        bottom:270px;


    }
    #searchicon2{
        background-color:white;
        width:30px;
        height:30px;
        /* border: 1px solid black; */
    }
    #SearchBar{
        /* font-size:15px;
        color:black;
        font-weight:bold; */
        font:20px black bold;
        border:none;
        text-align: center;
        width:800px;
        height:30px;
        position: relative;
        bottom:7px;
        right:5px;
        /* border: 1px solid black; */
    }
    .patienthistory{
        font-size:30px;
        
        color:white;
        text-align: center;
        background-color: #4787B9;
        width:900px;
        height:280px;
        border-radius:30px;
        position: relative;
        left:780px;
        bottom:230px;
    }
    #his1{
        width:750px;
        height:60px;
        position: relative;
        top:20px;
        border:none;
    }
    #his2{
        width:750px;
        height:60px;
        position: relative;
        top:40px;
        border:none;
    }
    .patientinformation{
        text-align: center;
        color:white;
        font-size:20px;
        background-color: #4787B9;
        width:450px;
        height:350px;
        border-radius:30px;
        position: relative;
        left:200px;
        bottom:240px;
        
        
    }
    #information{
        background-color: white;
        width:250px;
        height:260px;
        border-radius:30px;
        border:none;
        position: relative;
        top:20px;

    }
    .patienttreatment{
        color:white;
        font-size:20px;
        text-align: center;
        background-color: #4787B9;
        width:900px;
        height:300px;
        border-radius:30px;
        position: absolute;
        left:780px;
        bottom:250px;
    }
    #inf{
        width:350px;
        height:200px;
        position: relative;
        top:20px;
        right:20px;
        border:none;

    }
    #inf1{
        width:350px;
        height:200px;
        position: relative;
        top:20px;
        left:20px;
        border:none;

    }
    .button{
        width:400px;
        height:30px;
        position: relative;
        top:30px;
        left:250px;
    
    }
    #buttonid{
        width:400px;
        height:30px;
        background-color: rgb(154, 172, 242);
        border: none;
        border-radius: 15px;


    }
    .buttonsize{
        font-weight: bold;
        
    }
    